.formMenu{
    display: flex;
}
.tambahMenu{
    border: 8px;
    background-color: whitesmoke;
    width: 600px;
    height: 500px;
    padding: 6;
    justify-content: center;
    margin-left: 50px;
    margin-top: 30px;
}
.btn2{
    margin-top: 250px;
}